<tui-root>
<app-header (toggleEvent)="drawer.toggle()"></app-header>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over" >
    <mat-list class="sidenav__list">
      <mat-list-item>
        <a mat-flat-button  routerLink="teachers" routerLinkActive="active">Преподаватели</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a mat-flat-button>Старосты</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

</tui-root>
