<h1>Новый корпус</h1>
<img src="https://vstankine.ru/sites/default/files/novyy_1.png" alt="">
<img src="https://vstankine.ru/sites/default/files/novyy2.png" alt="">
<img src="https://vstankine.ru/sites/default/files/novyy3.png" alt="">
<img src="https://vstankine.ru/sites/default/files/novyy4.png" alt="">
<img src="https://vstankine.ru/sites/default/files/novyy5.png" alt="">
<img src="https://vstankine.ru/sites/default/files/novyy6.png" alt="">
<img src="https://vstankine.ru/sites/default/files/novyy_8.png" alt="">
<img src="https://vstankine.ru/sites/default/files/novyy_9.png" alt="">
<h1>Переход</h1>
<img src="https://vstankine.ru/sites/default/files/perehod.png" alt="">
<h1>Старый корпус</h1>
<img src="https://vstankine.ru/sites/default/files/staryy_1.png" alt="">
<img src="https://vstankine.ru/sites/default/files/staryy_2.png" alt="">
<img src="https://vstankine.ru/sites/default/files/staryy_3.png" alt="">
<img src="https://vstankine.ru/sites/default/files/staryy_4lev.png" alt="">
<img src="https://vstankine.ru/sites/default/files/staryy_4gl.png" alt="">
<img src="https://vstankine.ru/sites/default/files/staryy_4pr.png" alt="">
<img src="https://vstankine.ru/sites/default/files/staryy_5.png" alt="">
