<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>Новости</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://cdnn21.img.ria.ru/images/07e5/0a/12/1754996637_0:0:2783:1565_640x0_80_0_0_d9e0f97d7ca25442b8a70156d5af3f1c.jpg.webp" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>LIKE</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card>
