<app-news-item></app-news-item>
<app-news-item></app-news-item>
<app-news-item></app-news-item>

<section class="news-create" *ngIf="isAdmin">
<h2>Создать новость</h2>
<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Название</mat-label>
    <input type="tel" matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Описание</mat-label>
    <textarea matInput type="tel" matInput formControlName="description"></textarea>
  </mat-form-field>
</form>
<button class="add-button" mat-fab color="primary" (click)="onSave()">
  <mat-icon>add</mat-icon>
</button>

</section>
